<div class="footer large" id="1">
<div class="container center-align">
        <div class="row">
        <div class="col 12 s4"> <div class="grey-text">DEVELOPED BY:</div>  <br>
               <div> SIDDHARTH RAJA </div> <div> AMANKUMAR SHRIVASTAVA </div> <div> RASIKA DESHMUKH </div>        
         </div>

        <div class="col 16 s4"> <div class="grey-text">UNDER THE GUIDANCE OF:</div><br>
                <div>Dr.Bhrati Joshi</div>

        </div>
        <div class="col 16 s4"><div class="grey-text"> CONVENOR:</div><br>
                <div>Dr. Leena Ragha</div>
        </div>
        </div>                                                    
</div>
</div>

<div class="footer small" id="2">
                <div class="container center-align">
                        <div class="row">
                        <div class="col 12 s12"><strong class="grey-text" >DEVELOPED BY:</strong>  <br>
                               <div> SIDDHARTH RAJA </div> <div> AMANKUMAR SHRIVASTAVA </div> <div> RASIKA DESHMUKH </div>        
                         </div>
                
                        <div class="col 16 s12"> <strong class="grey-text" >UNDER THE GUIDANCE OF:</strong> <br>
                                <div>Dr.Bhrati Joshi</div>
                
                        </div>
                        <div class="col 16 s12"> <strong class="grey-text"> CONVENOR: </strong><br>
                                <div>Dr. Leena Ragha</div>
                        </div>
                        </div>                                                    
                </div>
                </div>
                
<script>
        console.log(screen.width)
       
        if(screen.width>=600){
                document.getElementById('2').style.display="none";
                document.getElementById('1').style.display="block";
                
        }
        else{
                document.getElementById('2').style.display="block";
                document.getElementById('1').style.display="none";
                
                
        }


</script>


<link href="/assets/css/footer.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>

