
<!--<div class="navbar">
        <a class="active" id="close" onclick="window.close();"><i class="fa fa-fw fa-close fa-3x"></i></a>
</div>-->


<center>
    <img src="../assets/images/rait.png" alt="rait" style="position: static;"  >
</center>

<style>
    @media only screen and (max-width: 800px) {
        img{
            width: 100%;
            height: 100%;
        }
    }
</style>
