<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOMEPAGE</title>
</head>
<body>
        <%include partials/header.ejs%>
        <br><br>
        <div class="row">
                <div class="col" >
                                <a href="/teacher" style="color:black;" ><div class="card1" align="center" title="INSERT TEACHER IN DATABASE!!" > <i class="fa fa-user" href="" aria-hidden="true"></i>
                  </div></a>
                </div>
                <div class="col">
                <a href="/time" style="color:black;">  <div class="card1"  title="INSERT TIME-TABLE IN DATABASE!!" ><i class="fa fa-clock-o" aria-hidden="true"></i>
                  </i></div></a>
                </div>
                <div class="col">
                <a href="/execute" style="color:black;">
                        <div class="card1"  title="PERFORM ALGORITHM" ><i class="fa fa-cogs" aria-hidden="true"></i>
                  </div>
                </a>
                </div>
        </div>
        <br>
        <div class="row">
                <div class="col">
                <a style="color: black;" href="/requirement">        
                  <div class="card1"  title="PRINT SLIPS" ><i class="fa fa-list-alt" ></i></div>
                </div>
                </a>
                <a  style="color:black;" href="/display_chart/sem">
                <div class="col" >
                        <div class="card1"  title="DISPLAY-CHART"><i class="fa fa-table" aria-hidden="true"></i></div>
                </div>
                </a>
                <div class="col">
                        <div class="card1"  title="UPDATE TIME-TABLE/TEACHER"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>
                </div>
        </div>
        
                              
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/assets/css/home.css">

</html>