<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REQUIREMENTS</title>
</head>
<body>

    <% for(var i=0;i<professors.length;i++) { %>
            <% var date=[]; var shift=[];  for(var j=0;j<selections.length;j++) {

                if(selections[j].SDRN==professors[i].SDRN){
                    if(selections[j].type!=""){
                        date.push(selections[j].date);
                        shift.push(selections[j].type);

                    }

                }



                
             }; console.log(date,shift); %>


          <%};%></body>
   <link rel="stylesheet" href="/assets/css/requirement.css">
</html>
