<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/favicon.ejs%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ENTER TEACHER DETAILS!!</title>
</head>
<body>
        <%include partials/header.ejs%>
        
        <!--<div class="topnav">

          <a href="/login">Home</a>
          <a id="UPDATE"  title="VIEW TIME TABLE AND UPDATE NUMBER OF BLOCKS ONLY!!" 
            href="/display_teacher" id="target" target="_blank" >View/UPDATE</a>
        <a id="FACULTY"  style="float:left;"  title="INPUT TIME-TABLE!!" href="/time" target="_blank" >TIME-TABLE-INPUT</a>
            
      </div>-->
  
        
        <form action="/teacher" method="POST" >
        <center>
            <% if (typeof data !=='undefined' && data.length>0) {%>
          
              <% if(data=='failure'){ %>
                  <div class="w3-panel w3-red" id="alert"  style="background-color: red">DATA COULD NOT BE LOADED!!</div>
                  
                  <%};%>
          <%}%>
  
          <% if (typeof data !=='undefined' && data.length>0) {%>
            
              <% if(data=='success'){ %>
                  <div class="w3-panel w3-green" id="alert" style="background-color: green">SAVED SUCCESSFULLY</div>
                  <%};%>
             
          <%}%>
          <br>
         
               
                  
     
         <!--sem-->
                
       <div class="b">
           <div class="container">
             
               

                <br>
                
                <div class="row">
                 <div class="col-25">
                   <label for="fname">Name</label>
                 </div>
                 <div class="col-75">
                   <input type="text" id="name" name="UNAME"   placeholder="" required>
                 </div>
                </div>

                <br>
                
                <div class="row">
                 <div class="col-25">
                   <label for="lname"> SDRN</label>
                 </div>
                 <div class="col-75">
                   <input type="text"  name="SDRN" placeholder="" required>
                 </div>
                </div>
                
                <br>
                
                <div class="row">
                 <div class="col-25">
                   <label for="country">Deaprtment</label>
                 </div>
                 <div class="col-75">
                         
                    <select  name="DEPT" id="department">
                    <option value="ENGINEERING SCIENCES"> ENGINEERING SCIENCES</option>
                    <option value="COMPUTER ENGINEERING" > COMPUTER ENGINEERING </option>
                    <option value="INFORMATION TECHNOLOGY" > INFORMATION TECHNOLOGY </option>
                    <option value="ELECTRONICS ENGINEERING"> ELECTRONICS ENGINEERING </option>
                    <option value="ELECTRONICS & TELECOMMUNICATION ENGINEERING"> ELECTRONICS & TELECOMMUNICATION ENGINEERING </option>
                    <option value="INSTRUMENTATION ENGINEERING"> INSTRUMENTATION ENGINEERING </option>
                    </select>    
                 </div>
                </div>
                
                <br>
                <div class="row">
                    <div class="col-25">
                      <label for="country">Designation:</label>
                    </div>
                    <div class="col-75">
                            <select  name="DESIG" id="designation" onchange="dut()">
                                    <option value="PROFESSOR" selected> PROFESSOR </option>
                                    <option value="ASSISTANT-PROFESSOR">ASSISTANT-PROFESSOR </option>
                                    <option value="ASSOCIATE-PROFESSOR">ASSOCIATE-PROFESSOR </option>
                                    </select>    
                    </div>
                </div>
                <br>
                <div class="row" id="buf2" >
                    <div class="col-25">
                      <label >Duties</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="DUTIES" id="duties" value="2" required>
                    </div>
                </div>
               <br>
               <div class="row">
                  <button type="submit" class="button">SUBMIT</button>

               </div>
               
            </div>
         </div>
       

        </center>
        
        
      </form>

    </body>

    
    <script>
      function dut(){

       console.log(document.getElementById('name').value) 

       var design= document.getElementById('designation');
       var duties=0;
        //console.log(design.value)
        switch(design.value)
        {
            case "PROFESSOR" : duties=2; break;
            case "ASSISTANT-PROFESSOR": duties=8;break;
            case "ASSOCIATE-PROFESSOR": duties=4; break;
            

        }    
          
        document.getElementById('duties').setAttribute('value',duties);
        document.getElementById('duties').innerHTML=String(duties);



      }
  </script>


<script>
setTimeout(()=>{document.getElementById('alert').style.display="none";},3000);
</script>
<link rel="stylesheet" href="/assets/css/teacher1.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</html>

    
    





























