<!DOCTYPE html>
<html lang="en">
        <%include partials/favicon.ejs%>
    <link rel="stylesheet" href="../assets/css/dy1st.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ENTER TIMETABLE HERE!!</title>
</head>
<body>
    <%include partials/nav.ejs %>
    <%include partials/header.ejs%>
   <!-- <div class="topnav">
        Kya kiaa??
        <a href="/home">Home</a>
        <a href="/display_semester_time_table" id="target" target="_blank"  id="UPDATE" title="VIEW TIME TABLE AND UPDATE NUMBER OF BLOCKS ONLY!!" >
            View/UPDATE</a>
    </div>-->

   <center>
     
        <form action="/time/semester" method="POST" id="submitto">

            

        <div class="card">
            
                <div class="grid-container">
                        
                    <a href="/time">    <div class="grid-item"  id="SEM" onclick="types('SEM');document.getElementById('submitto').setAttribute('action','/time/semester');document.getElementById('target').setAttribute('href','/display_semester_time_table'); " >   <abutton >SEM</abutton>  </div> </a>
                    <a href="/time_ut">  <div class="grid-item"  id="UT" onclick="types('UT');document.getElementById('submitto').setAttribute('action','/time/ut');document.getElementById('target').setAttribute('href','/display_ut_time_table');">  <abutton >UT</abutton>  </div> </a>
                                        <div style="margin-top: 2rem;" >Date :</div> <div style="margin-top: 2rem;"><input type="date" align="center" id="exdate" name="exdate" style="width:auto" required > </div>       
                                            <div style="margin-top: 2rem;" >TYPE:</div> 
                                            <div style="margin-top: 2rem;" >  <input type="radio" name="examtype" id="examtype1" value="REGULAR" required> 
                                                <label for="type1" id="val1" style="margin-right: 3rem; width:2rem;">REGULAR</label> 
                                                <input type="radio" name="examtype" id="examtype2" value="KT" required> 
                                                <label for="type2" id="val2" style="width:2rem;" >KT</label>
                                            </div>
                                            <div style="margin-top: 2rem;">MORNING BLOCKS</div> <div style="margin-top: 2rem;"><input type="text" id="blocks" align="center" name="blocks" style="width:auto" value="0" required></div>
                                            <div style="margin-top: 2rem;">EVENING BLOCKS</div> <div style="margin-top: 2rem;"><input type="text" id="blocks" align="center" name="blocks" style="width:auto" value="0" required></div>
                </div>
                     <input type="text" name="exam" id="exam" value="SEM">   
      
      <!--  <select  name="type1" id="type1"  style="width:35%" >
              <option value="" id="val1" selected > Regular </option>
              <option value="" id="val2" >  KT </option>
            </select>        -->
            
            
        
        
        <br>
        
        <button class="button">Submit</button>
        <br><br>
       <!-- <div class="grid-container">

            <a href="/display_semester_time_table" id="target" target="_blank" ><div class="grid-item" id="UPDATE" title="VIEW TIME TABLE AND UPDATE NUMBER OF BLOCKS ONLY!!" >
        View/UPDATE</div></a>
       <a href="/teacher" target="_blank" ><div class="grid-item" id="FACULTY"  title="INPUT FACULTY DETAILS!!"> 
       FACULTY-INPUT</div></a>
        </div>-->

    
    </div>
        <br>
</form>
      
      <hr>
          
        </center>
    
        <link rel="stylesheet" href="/assets/css/time.css">

        <%include partials/footer.ejs %>
   
</body>

<script>
        document.getElementById('SEM').style.backgroundColor="#95F184"
</script>

            <script>
                function types(eve)
                {   
                    var val1="";
                    var val2="";


                   
                    if(eve=='SEM'){ 
                        val1="REGULAR"; val2="KT"; 
                    document.getElementById("exam").setAttribute('value',"SEM");
                    document.getElementById('SEM').style.backgroundColor="#95F184"
                    document.getElementById('UT').style.backgroundColor="#F6FBF5"
                    
                }
                    else  {
                        val1="MORNING"; val2="EVENING";
                        document.getElementById("exam").setAttribute('value',"UT");
                        document.getElementById('UT').style.backgroundColor="#95F184"
                        document.getElementById('SEM').style.backgroundColor="#F6FBF5"
                   
                    }
                    document.getElementById('examtype1').setAttribute('value',val1);
                    document.getElementById('examtype2').setAttribute('value',val2);

                    document.getElementById('val1').innerHTML=val1;

                    document.getElementById('val2').innerHTML=val2;

                     


                }
            
            </script>

        <script>

            console.log(document.URL)
        </script>

</html>

