
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher</title>
</head>
<body>
        <%include partials/header.ejs%>
        <br>
        <form action="/teacher1" method="POST" >
        <center>
               
                  
     
         <!--sem-->
                
       <div class="b">
           <div class="container">
                <div class="row">
                        <div class="col-75">
                                <button class="button">SEM</button>
                        </div>
                        <div class="col-75">
                                <button class="button">UT</button>
                        </div>
                </div>
       
                <!--<div class="nav" id="select">
                    <button>SEM</button>
                    <button>UT</button>
                </div>-->

                <br>
                
                <div class="row">
                 <div class="col-25">
                   <label for="fname">Date</label>
                 </div>
                 <div class="col-75">
                   <input type="text" name=""   placeholder="" required>
                 </div>
                </div>

                <br>
                
                <div class="row">
                 <div class="col-25">
                   <label for="lname"> Type</label>
                 </div>
                 <div class="col-75">
                        <input type="radio" name="examtype" id="examtype1" value="REGULAR" required> 
                        <label for="type1" id="val1"   style="margin-right: 5rem; width:2rem;">REGULAR</label> 
                        <input type="radio" name="examtype" id="examtype2" value="KT" required> 
                        <label for="type2" id="val2"  style="width:2rem;" >KT</label>
                 </div>
                </div>
                
                <br>
                
                <div class="row">
                 <div class="col-25">
                   <label for="country">Morning Block</label>
                 </div>
                 <div class="col-75">
                        <input type="text" id="blocks" name="blocks"  value="0" required>
                 </div>
                </div>
                
                <br>
                <div class="row">
                    <div class="col-25">
                      <label for="country">Evening Block</label>
                    </div>
                    <div class="col-75">
                            <input type="text" id="blocks" name="blocks"  value="0" required>
                    </div>
                </div>
                <br>
                <div class="row" id="buf2" >
                    <div class="col-25">
                      <label for="country">Buffer</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="buffer2" name="buffer" required>
                    </div>
                </div>
               <br>
               <div class="row">
                  <button type="submit" class="button">SUBMIT</button>

               </div>
               
            </div>
         </div>
       

        </center>
        
        
      </form>

    </body>

    <!--<script>
   
      
      
    function check(){
      if(document.getElementById('type').checked==true)
      {
              document.getElementById('buf2').style.display="block";
              document.getElementById('buffer1').setAttribute('placeholder','Buffer per slot (REGULAR)');
              document.getElementById('buffer2').setAttribute('placeholder','Buffer per slot (KT)');
              document.getElementById('buffer2').setAttribute('value','');
              document.getElementById('choice').setAttribute('value','SEM');
              
      
      }
      else{
        document.getElementById('buf2').style.display="none";
        document.getElementById('buffer1').setAttribute('placeholder','Buffer per slot');
        document.getElementById('choice').setAttribute('value','UT');
        document.getElementById('buffer2').setAttribute('value','');
      }
    }
  

    </script>-->

    <link rel="stylesheet" href="/assets/css/time1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 </html>



























