body{
 /* background:url('../images/bd.jpg');*/
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
  background-size: cover;
  
  background-attachment:fixed; 
  }

/* { box-sizing:border-box;
  }*/
table{border-collapse:collapse;
	width:100%;
  margin-left:15%;}
  


.button {
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  color: white;
  width:10%;

  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  

}

.button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


td, th {
  border: none;
  text-align: left;
  padding: 0.2rem;;
}


p.one{float:left;
           }
.card{
width: 50rem;
  height: 30%;
  padding: 1%;
  background-color:#FDFFFB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:3%;
  text-align: center;}

div.container {
  padding: 8px;
}

p.three{font-family:Lucida Bright;
font-size:14px;}

@media only screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  img{
    width: 100%;
  }
  input#name,input{
    width:60%;
  }



}





