body{
    background:url('../images/bd.jpg') no-repeat ;
    background-size: cover;


}

button{
    color:balck;
    float:left;
    background-color: rgb(113, 182, 247);
    display:inline-block;
    width:33.3%;
    margin:1% 2%;
}