body{
    margin: 0;
    padding:0;
    /*background:url('../images/bd.jpg') no-repeat ;*/
    font-family: sans-serif;
    background-size: cover;
    background-position-y: 15%;
    
    
}

.button{
    width: fit-content;
    text-align: center;
    font-size: 1.1rem;
}

.topnav {

    background-color: rgba(250, 240, 243, 0.945);
    box-shadow:10px 10px 5px  rgb(126, 121, 121);
  }
  
  .topnav a {
    float: left;
    color: #0c0a0a;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .topnav a:hover {
    background-color: rgb(8, 7, 7);
    color: rgb(241, 237, 237);
  }
  
  .topnav a.active {
    background-color: rgb(5, 5, 5);
    color: white;
  }
  










.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    
}
.grid-container1{background-color: lightgreen;}

.grid-item{
    font-family: cursive;
    width:auto;
    height:50%;
    padding:10px;
    cursor:pointer;
    }

.grid-item:hover{
    box-shadow: 10px 11px 18px #a8a5aa;
    color:brown;
    cursor:pointer;
} 
.grid-item:active{
    box-shadow: 10px 11px 18px #a8a5aa;
    color:brown;
    background: lightgreen;
    cursor:pointer;
} 


input#exam{
    display:none;
}


.card{
    box-shadow: 5px 5px 5px 5px grey; 
    height:50%;
    
}

input[type="text"],input[type="date"]{
    width:10%;
}

div#UPDATE{
    background-color:lightgreen ;
   width: 100%;  
}

div#FACULTY{
    background-color:lightgreen;
    }


div#UPDATE:hover,div#FACULTY:hover{
    background-color: rgb(54, 224, 63);
    border: 0.1px solid black;

    
}

a{
    color: black;
    text-decoration: none;
}




@media only screen and (max-width:800px){
    body{
        margin: 0;
    padding:0;
    background:url('../images/bd.jpg') no-repeat ;
    font-family: sans-serif;
    background-size: cover;
    background-position-y: 15%;
    
    }
    .card{
        box-shadow: 5px 5px 5px 5px grey; 
        height:auto;
        width: fit-content;
        margin-left: -1%;
        
    }

 .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    font-size: 1rem;
 }

 div#UPDATE.grid-item,div#FACULTY.grid-item{
     width: 100%;
     font-size: 1.28rem;
 }

input[type="text"],input[type="date"],input[type="radio"],label#val1,label#val2{
    width:1rem;
    font-size: 0.5rem;
}

.grid-item , .grid-item1 {
    width: 10rem;
}

.button{
    width: fit-content;
    text-align: center;
    font-size: 0.5rem;
}

}


@media only screen and (max-width:300px){
    .card{
        box-shadow: 5px 5px 5px 5px grey; 
        height:auto;
        
    }

        
}



@media only screen and (max-width:800px){
    .card{
        box-shadow: 5px 5px 5px 5px grey; 
        height:auto;
        
    }
    
        
}